.cardWrapper {
  padding: 0 2em;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  margin-top: 4rem;

  h1 {
    text-align: center;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 6rem;
  }

  .card {
    .cardPart {
      font-weight: 500;
      font-size: 0.9rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-transform: uppercase;
      & > div {
        display: flex;
        align-items: center;
        gap: 5px;
      }
      & > span:last-child {
        font-size: 0.8rem;
        margin-bottom: 1rem;
      }
    }
    .partImage {
      position: relative;
      width: 30px;
      height: 30px;
    }
    .backgroundCard,
    .backgroundInfo {
      position: relative;
    }
    .backgroundCard {
      height: 250px;
      width: 190px;
    }
    .backgroundInfo {
      font-weight: 900;
      font-size: 1.2rem;
      width: 40px;
      height: 40px;
      top: 25%;
      transform: translateX(-40%);
      display: flex;
      justify-content: center;
      align-items: center;
      .attackImage {
        position: relative;
        width: 60%;
        height: 60%;
      }
    }
  }
  .info {
    position: absolute;
    inset: 0;
    color: white;
    & * {
      position: absolute;
    }
  }
  .cardEffect {
    position: relative;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    margin-right: 15px;
  }
  .cardName {
    font-size: 0.8rem;
    font-weight: 900;
  }
  .cardHeader {
    display: flex;
    position: absolute;
    align-items: center;
    top: 3px;
    left: 0;
    right: 0;
    height: 45px;
    padding-left: 1.4em;
    padding-right: 1.4em;
    & > * {
      position: static;
    }

    .cardEnergy {
      top: 13px;
      left: 20px;
      font-size: 1.2rem;
      font-weight: 900;
      margin-right: 15px;
      text-shadow: 1px 1px brown, -1px -1px brown, -1px 1px brown,
        1px -1px brown;
    }
    .cardName {
      flex-grow: 1;
      text-align: center;
    }
  }

  .cardFooter {
    color: white;
    font-size: 0.7rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 1.1em;
    padding-right: 2em;
  }
}
