.nav {
  padding: 0 2em;
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  background: var(--color-bg-nav);
  & > a {
    padding: 1em;
    transition: 0.1s ease-in-out;
  }
  .logo {
    font-size: 1.7rem;
    padding: 0;
    margin-right: 2rem;
  }
  .login {
    margin-left: auto;
  }
  & > a:not(.logo):hover {
    background-color: hsl(0, 0%, 100%);
  }
  a.signup {
    background-color: var(--color-primary);
    color: white;
  }
  a.signup:hover {
    background-color: var(--color-hover-primary);
  }
  .active {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      z-index: 2;
      background: var(--color-primary);
      animation: activeNav 0.2s ease-in-out;
    }
  }
  .modalWrapper {
    position: absolute;
    inset: 0;
    background: hsla(0, 0%, 0%, 0.4);
    height: 100vh;
  }
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    text-align: center;
    h1 {
      margin-bottom: 1rem;
    }

    button {
      background: var(--color-primary);
      outline: none;
      border: none;
      padding: 0.6em 1.5em;
      font-size: 1.2rem;
      border-radius: 0.5rem;
      color: white;
      cursor: pointer;
      &:hover {
        background: var(--color-hover-primary);
      }
      &:last-child {
        margin-left: 2rem;
        background: var(--color-border-errors);
        &:hover {
          background: var(--color-hover-errors);
        }
      }
    }
  }

  .tokenContainer {
    display: flex;
    gap: 0.6rem;
    margin-left: auto;
  }

  .axieToken {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
    color: hsl(0, 0%, 50%);
  }
}

@keyframes activeNav {
  0% {
    left: 50%;
    right: 50%;
  }
  100% {
    left: 0;
    right: 0;
  }
}
