.nav {
  padding: 0 2em;
  font-size: 1rem;
  display: flex;
  gap: 2rem;
  background: var(--color-bg-nav);
  height: 3rem;
  position: relative;
  list-style: none;
  .logo {
    font-size: 1.7em;
    font-weight: 700;
    align-self: center;
  }
  .navList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    & > *:not(.tokenContainer) {
      position: relative;
      height: 100%;
      transition: background-color 0.1s linear;
      &:hover {
        background: var(--color-bg-hover-nav);
      }

      &.active {
        background: var(--color-bg-active-nav);
      }

      &.active::before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background: var(--color-primary);
        z-index: 2;
      }
    }

    & > li {
      padding: 0 0.8em;
    }
    & a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
    }
    .login {
      margin-left: auto;
    }

    .signup {
      background: var(--color-primary);
      color: white;
      &:hover {
        background: var(--color-hover-primary);
      }
    }
  }
  .modalWrapper {
    position: absolute;
    inset: 0;
    background: hsla(0, 0%, 0%, 0.4);
    height: 100vh;
  }
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    font-size: 1rem;
    text-align: center;
    h1 {
      font-size: 1.5em;
      margin-bottom: 1rem;
    }

    .confirmButton {
      display: flex;
      justify-content: center;
      gap: 2em;
    }

    button {
      background: var(--color-primary);
      outline: none;
      border: none;
      padding: 0.6em 1.5em;
      font-size: 1.2em;
      border-radius: 0.5em;
      color: white;
      cursor: pointer;
      &:hover {
        background: var(--color-hover-primary);
      }
      &:last-child {
        background: var(--color-border-errors);
        &:hover {
          background: var(--color-hover-errors);
        }
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    align-self: center;
    margin-left: auto;
    cursor: pointer;

    .slice {
      background: black;
      height: 3px;
      width: 20px;
      transition: 0.1s linear;
    }

    &.open {
      .slice:first-child {
        transform: translateY(7px) rotate(-45deg);
      }
      .slice:last-child {
        transform: translateY(-7px) rotate(45deg);
      }
      .slice:nth-child(2) {
        opacity: 0;
      }
    }
  }

  .tokenContainer {
    display: flex;
    gap: 0.6rem;
    margin-left: auto;
  }

  .axieToken {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
    color: hsl(0, 0%, 50%);
  }

  .imgToken {
    position: relative;
    width: 20px;
    height: 20px;
  }

  .userContainer {
    display: flex;
    align-items: center;
    margin-left: auto;
    &:hover {
      background-color: transparent !important;
    }
  }

  @media screen and (max-width: 850px) {
    .navList {
      display: none;
      position: absolute;
      border-radius: 0.3rem;
      flex-direction: column;
      z-index: -1;
      top: calc(100% + 10px);
      opacity: 0;
      width: 200px;
      right: 1.5rem;
      box-shadow: 1px 1px 5px 1px hsla(0, 0%, 10%, 0.2);
      background: var(--color-bg-nav);
      transition: opacity 0.1s linear;
      padding: 1em 0;
      align-items: stretch;
      .tokenContainer {
        margin-left: 0;
        flex-direction: column;
        gap: 0.3em;
      }
      & > li {
        padding: 0.5em 0.8em;

        &.active::before {
          top: 0;
          left: 0;
          bottom: 0;
          height: auto !important;
          width: 2px;
          z-index: 2;
        }
      }
      .login {
        margin-left: 0;
      }
    }

    .navList.open {
      display: flex;
      opacity: 1;
      transition: opacity 0.1s linear;
    }

    .hamburger {
      display: flex;
    }

    .userContainer {
      display: block;
      margin-left: 0;
      align-self: stretch !important;
    }

    .modal {
      font-size: 0.7rem;
    }
  }
}

@keyframes activeNav {
  0% {
    left: 50%;
    right: 50%;
  }
  100% {
    left: 0;
    right: 0;
  }
}
