.user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  margin-left: auto;
  .userImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(
      -45deg,
      var(--color-primary),
      white,
      var(--color-primary)
    );
  }
  ul {
    list-style-type: none;
    position: absolute;
    top: calc(100% + 20px);
    & > * + * {
      padding: 1em 0;
    }
  }
}
