.nav {
  padding: 0 1.5em;
  list-style: none;
  display: flex;
  font-weight: 600;
  gap: 1rem;
}

.nav a {
  padding: 1em;
  transition: 0.1s ease-in-out;
}

.nav .login {
  margin-left: auto;
}

.nav a:hover {
  background-color: hsl(0, 0%, 95%);
  border-radius: 0.3rem;
}

.nav .signup {
  background-color: hsl(208, 100%, 51%);
  color: white;
  border-radius: 0.3rem;
}

.nav .signup:hover {
  background-color: hsl(208, 100%, 61%);
}
