:root {
  --color-primary: hsl(208, 100%, 51%);
  --color-hover-primary: hsl(208, 100%, 61%);
  --color-secondary: hsl(120, 83%, 35%);
  --color-hover-secondary: hsl(120, 83%, 45%);
  --color-errors: hsl(0, 81%, 89%);
  --color-border-errors: hsl(0, 81%, 47%);
  --color-hover-errors: hsl(0, 81%, 60%);
  --color-success: hsl(120, 85%, 79%);
  --color-border-success: hsl(120, 85%, 29%);
  --color-bg-nav: hsl(0, 0%, 95%);
  --color-bg-hover-nav: hsl(0, 0%, 85%);
  --color-bg-active-nav: hsl(0, 0%, 90%);
  --max-width: 70rem;
}
